
body {background-color: #ffffff;
	border: 0;
	font-family: Verdana, Arial, sans-serif;
	font-size: 11px;
	margin: 0;
	padding: 5px 0 0 15px; }

a:link {color: #5C6871; text-decoration: underline;}
a:visited {color: #5C6871; text-decoration: underline;}
a:hover {color: #2E518B; text-decoration: underline; }

a.reverse:link {color: #FFFFFF; text-decoration: none; }
a.reverse:visited {color: #FFFFFF; text-decoration: none; }
a.reverse:hover {color: #FFFFFF; text-decoration: underline;}

a.colorlink:link {text-decoration: none; color: #D4D6C1;}
a.colorlink:visited {text-decoration: none; color: #D4D6C1;}
a.colorlink:hover {text-decoration: underline; color: #D4D6C1; }


h1 {
	color: #FFFFFF;
	font-family: Verdana, Arial, sans-serif;
	font-size: 28px;
	font-weight: normal;
	letter-spacing: 3px;
	margin-bottom: -5px;
	margin-right: 5px;
	padding: 0;
	text-align: right;
	text-transform: uppercase;
}

h2 {
	border : 0;
	margin-top: 0px;
	margin-bottom : 20px;
	padding : 0;
	color: #003962;
	font-size: 24px;
}

.indent1 {
	padding : 15px 0 0 15px;
	background-color : #2e4767;
}

.indent2 {
	background-color : #2e4767;
	padding-left : 35px;
}

.leftcolumn {
	width: 150px;
}

.leftcolumn ul li {list-style-type:none; padding: 3px 3px 3px 7px; text-decoration: none; margin:0;}


h3 {
	border: 0;
	margin-top: 15px;
	margin-bottom: 10px;
	padding: 0;
	color: #003962;
	font-size: 14px;
}

h4 {
	border: 0;
	margin-top: 0;
	margin-bottom: 20px;
	padding: 0;
	color: #003962;
	font-family: Verdana;
	font-size: 18px;
	font-weight: bold;
}

h5 {
	border: 0;
	margin-top: 5px;
	margin-bottom: 15px;
	padding: 0;
	color: #5C6871;
	font-family: Verdana;
	font-size: 12px;
	font-weight: bold;
}

h6 {
	border: 0;
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
	color: #5C6871;
	font-family: Verdana;
	font-size: 12px;
	font-weight: bold;
}

.subheadtext {
	background-color : #5C6871;
	border : 0;
	margin : 0;
	padding : 0;
}

.picturetext {
	font-size : 22px;
	padding : 25px 15px 25px 15px;
	line-height : 120%;
	letter-spacing : 2px;
}

p {
	border: 0;
	margin: 0;
	padding: 0px 0px 10px 0px;
	line-height : 130%
}

p.larger {
	font-size: 14px;
	margin-right: 10px;
}



.boxtitle {
	border: 0;
	color: #5C6871;
	font-weight: bold;
	margin: 0;
	padding: 5px 0 3px 8px;
}

.dashedseparator {
	border-bottom: 0;
	border-left: 0;
	border-right: 0;
	border-top: 1px dashed #5C6871;
	margin: 2px 0 5px 0;
	padding: 0;
}


.dashedseparatorb {
	border-bottom: 0;
	border-left: 0;
	border-right: 0;
	border-top: 1px dashed #5C6871;
	margin: 2px 0 5px 0px;
	padding: 0px 0px 10px 0px;
}

.footerseparator {
	border-bottom: 1px solid #5C6871;
	border-left: 0;
	border-right: 0;
	border-top: 0;
	height: 30px;
	margin-left: 0px;
	padding: 0;
}

.copyRseparator {
	border-bottom: 1px solid #5C6871;
	border-left: 0;
	border-right: 0;
	border-top: 0;
	height: 5px;
	margin-left: 16px;
	padding: 0;
}

.headline {
	background-color: #003962;
}

.headline p {
	color : white;
	padding-left : 35px;
}


ul {margin:0;
	list-style-position: outside;
	padding: 0px 0px 5px 26px;
}

ul.plain {margin:0;
	list-style-position: outside;
	padding: 0px 0px 5px 12px;
}

ul.plain li, ul.normalp li { list-style-type: none;
}


ul li, li.normal  {
	list-style-type: square;
	list-style-position: outside;
	line-height: 15px;
	padding: 0px 0px 5px 0px;
}


li.normalp, li.plain {
	list-style-type: none;
	list-style-position: outside;
	line-height: 15px;
	padding: 0px 0px 5px 0px;
}


.leftcolumn ul {
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}

ul.navlink  {
	padding: 0px 0px 0px 8px;
	margin: 0px 0px 0px 0px;
}

.leftcolumn ul.navlink  {
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}

li.navlink {
    padding: 3px 3px 3px 0px;
    text-decoration: none;
}

.subnav ul.navlink, .subnav ul {
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}

.highlights {width:200px;
	background-color: #E9EAE7;
	color: #FFFFFF;
	font-weight: bold;
	padding: 8px 8px 8px 8px; margin:0;
}

.highlightstitle {width:200px;
	border: 0;
	background-color: #003962;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
	padding: 8px 8px 8px 8px; margin-top:3px;
}



.highlights ul {margin:0px 0px 0px 10px;  list-style-position:inside;   padding: 0px 0px 0px 0px; color:#000000;
}

.highlights ul.navlink  {
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}

.highlights ul li.navlink {margin:0; list-style-type: none; padding: 0px 0px 0px 0px; color:#000000;
}

.highlights ul.plain, .highlights ul.navlink {margin:0;
	list-style-position: outside;
	padding: 0px 0px 5px 0px;
}


.highlights li.navlink {margin:0;
    padding: 3px 3px 3px 0px;
    text-decoration: none;
}



.masthead {
	background-image: url(../images/mast_grey_library.gif);
	height: 108px;
	width: 422px;
}





.nopadding {
	border: 0;
	margin: 0;
	padding: 0;
}

.smallpaddedwrapper {
	padding : 5px;
}

.paddedwrapper {
	padding: 15px 0 15px 15px;
}

.main, td.main {margin:0; padding: 15px 0px 15px 15px;}

.mainleft, td.mainleft {margin:0; padding: 15px 15px 15px 15px;}

.sidebar, td.sidebar {width: 220px; margin:0; padding: 0px 0px 10px 0px; background-color: #003962;}

.photo {
	margin: 5px;
}

.photocaption {
	background-color: #003962;
	color: #FFFFFF;
	padding: 10px;
}

.photocaption div.dashedseparator {
	border-top: 1px dashed #FFFFFF;
}

.photocaption h3 {
	color : white;
}

.photocaption h5 {
	color : white;
}

.photocaption ul { padding: 0px 6px 5px 12px;
}


.photocaption a:link {color: #D4D6C1; text-decoration: none; }
.photocaption a:visited {color: #D4D6C1; text-decoration: none; }
.photocaption a:hover {color: #D4D6C1; text-decoration: underline;}

#related {
	background-color: #E9EAE7;
	border-top: 3px solid #FFFFFF;
	padding-top: 3px;
	padding-bottom: 9px;
	text-decoration : none;
}

#related a {
	text-decoration: none;
}

#related a:hover {
	text-decoration: underline;
}

.searchbox {
	background-color: #D3D4D0;
	border-top: 3px solid #FFFFFF;
	padding-bottom: 3px;
}

.solidseparator {
	border-bottom: 0;
	border-left: 0;
	border-right: 0;
	border-top: 1px solid #5C6871;
	margin: 2px 0 5px 0;
	padding: 0;
}

.storylink {
	padding-top : 10px;
}

.storylinkb {
	padding-top : 10px; padding-bottom: 10px;
}

.storycolumn {
	padding-right : 15px;
}

.subnav {
	background-color: #F8F8F8;
	padding: 5px 0px 5px 0px;
	margin: 0px 0px 6px 0px 
}

.subnav li {color: #000000;
	margin: 0px 0px 0px 0px; 
	padding: 0px 3px 0px 0px;
}

.subnav ul li.sublink {
	margin: 0; 
	padding: 0px 3px 0px 14px;
}

#footer {
	border: 0;
	margin: 0;
	padding: 5px 5px 15px 5px;
}

#leftlogo {
	margin-top: 35px;
}

#pnav {
	background-color: #003962;
	padding-left: 10px;
}

#pnav ul {
	color: #FFFFFF;
	margin: 0;
	padding: 3px;
	white-space: nowrap;
}

#pnav ul li {
	display: inline;
	margin: 0;
	padding : 0;
}

#pnav ul li a {
	color: #FFFFFF;
	text-decoration: none;
	padding : 3px;
}

#pnav ul li a:hover {padding: 4px 3px 4px 3px; 
	background-color: #2E518B;
	color: #FFFFFF;
}

#searchform {
	border: 0;
	margin: 0;
	padding: 5px 0 0 8px;
}

#searchsubmit {
	background-color: #D3D4D0;
	border: 1px solid #000000;
	font-size: 10px;
	margin: 2px 0 0 70px;
	padding: 0;
	width: 60px;
}

#searchtext {
	font-size: 10px;
	width: 125px;
}

#snav {
	border : 0;
	padding : 20px 0 20px 0px;
	margin : 0;
	background-color: #E9EAE7;
	text-decoration: none;
}

#snav a {
	color: #5C6871;
	text-decoration: none;
}

#snav a:hover {
	color: #2E518B;
	text-decoration: underline;
}


#snav h3 {
	padding : 0 5px 2px 8px; text-transform:uppercase;
}

#tnav {
	background-color: #E9EAE7;
	padding-left: 7px;
	margin-top: 5px;
margin-bottom: 16px;
}

#tnav ul {
	color: #5C6871;
	margin: 0;
	padding: 3px;
}

#tnav ul li {
	display: inline;
	margin: 0;
}

#tnav ul li a {
	color: #5C6871;
	padding: 3px;
	text-decoration: none;
}

#tnav ul li a:hover {
	color: #2E518B;
	text-decoration: underline;
}

#headernav {
	padding: 1px 0px 3px 0px;

}

#headernav a {
	border: 0;
	font-size: 13px;
	margin: 0;
	text-decoration: none;
}

#headernav a:hover {
	color: #2E518B;
	text-decoration: underline;
}

#footernav {
	padding-left: 5px;
	margin-left: 16px;
	margin-bottom : 10px;
	margin-top : 5px;
	text-align: center;
}

#footernav ul {
	color: #5C6871;
	margin: 0;
	padding: 3px 3px 3px 0;
}

#footernav ul li {
	display: inline;
	padding : 0;
	margin: 0;
}

#footernav ul li a {
	color: #5C6871;
	text-decoration: none;
}

#footernav ul li a:hover {
	color: #2E518B;
	text-decoration: underline;
}

img {
	border: 0;
}

.button {
	background-color: #D3D4D0;
	border: 1px solid #000000;
	font-size: 10px;
	margin: 2px 0 0 0px;
	padding: 0;
	width: 60px;
}

.buttonright {
	background-color: #D3D4D0;
	border: 1px solid #000000;
	font-size: 10px;
	margin: 2px 0 0 100px;
	padding: 0;
	width: 60px;
}

.formfield {

	font-size: 10px;
	margin: 2px 0px 0px 0px;
	padding: 0;
}

hr {	border-top: 1px solid #5C6871;
	border-right: none;
	border-bottom: 1px solid #003962;
	border-left: none;
margin: 0px 0px 10px 0px; clear:both;}

p.photoright {float: right; padding:0px 0px 8px 10px; font-size:10px; color: #003962; font-style:italic; margin: 0px 0px 0px 0px; line-height:100%; }


p.photoleft {float: left; padding:0px 10px 8px 0px; font-size:10px; color: #003962; font-style:italic; margin: 0px 0px 0px 0px; line-height:100%; }

.clear {clear:both;}

table.border {margin: 0px 0px 10px 0px; padding: 0px 0px 0px 0px; width:80%; border: 1px solid #003962; }

table.border th {background-color: #003962; color:#fff; text-align:left; padding: 4px 4px 4px 4px; border: 1px solid #003962; }

table.border td {background-color: #fff; color:#003962; text-align:left; padding: 2px 4px 2px 4px; border: 1px solid #003962; }

